$primary: #0052cc;
$font: #123571;
$border: #e1edfb;

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
    sans-serif;
  background-color: #f5faff;
  color: $font;
  @media (max-width: 768px) {
    font-size: 15px;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    @media (max-width: 1260px) {
      padding: 0 30px;
    }
    @media (max-width: 768px) {
      padding: 0 20px;
    }
  }
  p {
    text-align: justify;
    margin: 0;
    & + p {
      margin-top: 20px;
    }
  }
  header {
    width: 100%;
    background-color: $primary;
    color: white;
    .container {
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .repo {
        .title {
          font-size: 24px;
          font-weight: 700;
        }
        .name {
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 2px;
        }
      }
    }
  }
  main {
    min-height: calc(100vh - 160px);
    .tab-header {
      margin-top: 50px;
      border-bottom: 1px solid $primary;
      margin-bottom: 20px;
      button {
        background-color: transparent;
        border: none;
        padding: 20px 30px;
        outline: none;
        cursor: pointer;
        font-size: 18px;
        font-weight: 700;
        border: none;
        &.active {
          background-color: $primary;
          color: white;
          cursor: default;
        }
      }
    }
    .content {
      display: none;
      &.active {
        display: block;
      }
    }
    .lipsum-wrapper {
      .top {
        display: flex;
        margin: 0 -20px 40px;
        @media (max-width: 1024px) {
          margin: 0 0 40px;
          flex-direction: column;
        }
        .props,
        .component {
          width: 50%;
          padding: 0 20px;
          @media (max-width: 1024px) {
            width: 100%;
            padding: 10px 0;
          }
        }
        .props {
          .prop {
            label {
              display: block;
              width: 100%;
            }
            .slider {
              -webkit-appearance: none;
              width: 100%;
              height: 10px;
              margin-top: 20px;
              background: $border;
              outline: none;
              opacity: 0.7;
              -webkit-transition: 0.2s;
              transition: opacity 0.2s;
              &:hover {
                opacity: 1;
              }
              &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 12px;
                height: 24px;
                background: $primary;
                border: none;
                border-radius: 4px;
                cursor: pointer;
              }
              &::-moz-range-thumb {
                width: 12px;
                height: 24px;
                background: $primary;
                border: none;
                border-radius: 4px;
                cursor: pointer;
              }
            }
            .checkbox {
              width: 20px;
              height: 20px;
            }
            & + .prop {
              margin-top: 30px;
            }
            &.same-line {
              label {
                display: flex;
                align-items: center;
              }
              input {
                display: inline-block;
                margin-left: 20px;
              }
            }
          }
          .reset {
            background-color: $primary;
            color: white;
            padding: 15px 30px;
            border-radius: 3px;
            margin-top: 30px;
            border: none;
            outline: none;
            cursor: pointer;
            transition: 0.2s;
            &:hover {
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }
            &:disabled {
              opacity: 0.5;
              cursor: not-allowed;
              box-shadow: none;
            }
          }
        }
      }
      .output {
        background-color: white;
        padding: 30px;
        border: 2px solid $border;
        margin-bottom: 40px;
      }
    }
    .user-wrapper {
      display: flex;
      .user {
        background-color: white;
        border: 2px solid $border;
        border-radius: 3px;
        padding: 20px;
        display: block;
        width: 300px;
        text-align: center;
        img {
          border-radius: 50%;
          display: block;
          margin: 0 auto 30px;
        }
        .fullname {
          font-size: 24px;
          font-weight: 700;
        }
        .username {
          font-size: 18px;
          opacity: 0.5;
          margin-top: 5px;
        }
        .shuffle-user {
          display: block;
          background-color: $primary;
          color: white;
          padding: 15px 30px;
          margin: 30px auto 0;
          cursor: pointer;
          outline: none;
          border-radius: 3px;
          border: none;
        }
      }
      .user-code {
        width: calc(100% - 300px);
        padding-left: 30px;
      }
    }
  }
  .code {
    font-family: monospace;
    padding: 20px;
    border: 2px solid $border;
    border-radius: 3px;
    background-color: white;
    font-size: 18px;
    min-height: 200px;
    @media (max-width: 1024px) {
      font-size: 16px;
    }
    @media (max-width: 414px) {
      padding: 15px;
    }
    .line {
      padding-left: 20px;
      &:first-child,
      &:last-child {
        padding-left: 0;
      }
    }
  }
  footer {
    width: 100%;
    height: 80px;
    background-color: $primary;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: white;
      margin-left: 5px;
    }
  }
}
